<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smartregister.maternity" >

    <application>
        <activity android:name=".activity.BaseMaternityFormActivity"/>
        <activity android:name=".activity.BaseMaternityProfileActivity"/>
    </application>

</manifest>
