<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smartregister.maternity" >

    <application>
        <activity android:name="org.smartregister.maternity.activity.BaseOpdFormActivity"></activity>
        <activity android:name="org.smartregister.maternity.activity.BaseOpdProfileActivity"></activity>
    </application>

</manifest>