<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smartregister.maternity" >

    <application>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.BaseMaternityFormActivity"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.BaseMaternityProfileActivity"/>
    </application>

</manifest>
